/*******************
ABOUT SECTION
********************/
.about{
    @include flex(space-around, center, row, wrap);
    
    @media(max-width: 992px){
        justify-content: center;
    }
    .about__img{
        flex: 0 0 40%;
        
        @media(max-width: 992px){
            flex: 0 0 70%;
            order: 1;
        }
        @media(max-width: 768px){
            flex: 0 0 80%;
        }
        @media(max-width: 576px){
            flex: 0 0 100%;
        }
    }
    .about__text{
        flex: 0 0 50%;

        @media(max-width: 992px){
            flex: 0 0 70%;
            margin-bottom: 25px;
        }
        @media(max-width: 768px){
            flex: 0 0 80%;
        }
        @media(max-width: 576px){
            flex: 0 0 100%;
        }


        .section-subtitle{
            text-align: left;

            &::after{
                margin: 0px;
                margin-top: 5px;
            }
        }
        .section-title{
            text-align: left;
        }
        .about__p{
            max-width: 500px;
            margin-bottom: 10px;
        }
        .about__list{
            margin-bottom: 25px;
            .about__item{

                &:not(:last-child){
                    margin-bottom: 5px;
                }
                i{
                    color: $secondaryColor;
                    margin-right: 10px;
                }
            }
        }
        .about__link{
            @include btn($secondaryColor, $whiteColor, $primaryColor, $secondaryColor);
        }
    }
}