

.contact{

    &__wrapper{
        @include flex(space-between, center, row, wrap);

        @media(max-width: 1200px){
            justify-content: center;
        }
        .contact__item{

            &:first-child{

                flex: 0 0 45%;
                @media(max-width: 1200px){
                    flex: 0 0 80%;
                }

                @media(max-width: 768px){
                    flex: 0 0 100%;
                }

                .section-subtitle{
                    text-align: left;
                    &::after{
                        margin: 10px 0px 0px 0px ;
                    }
                }
                .section-title {
                   text-align: left;

                   @media(max-width: 576px){
                    font-size: 1.5rem;
                }
                }
                .contact__info{
                    @include flex(space-between, center, row, wrap);
    
                    &__item{
                        flex: 0 0 40%;
                        margin-top: 15px;
                        display: flex;

                        @media(max-width: 768px){
                            flex: 0 0 100%;
                        }
    
                        i{
                          color: $secondaryColor;
                          font-size: 1.7rem;
                          margin-right: 15px;
                        }
                        
                        .contact__data{
                            
                            .contact__h4{
                                font-size: 1.2rem;
                                color:$primaryColor;
                                margin-bottom: 5px;

                                @media(max-width: 576px){
                                    font-size: 1.1rem;
                                }
                            }
                        }
                        .contact__p{
                            .contact__span{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &:last-child{

                flex: 0 0 45%;
                @media(max-width: 1200px){
                    flex: 0 0 70%;
                    margin-top: 40px;
                }

                @media(max-width: 768px){
                    flex: 0 0 100%;
                }
        
                .contact__form{
                    background-color: $secondaryColor;
                    @include flex( center,flex-start, column);
                    padding: 25px;
    
                    .contact__form__h3{
                        font-size: 1.5rem;
                        color: $whiteColor;
                        margin-bottom: 15px;
                        letter-spacing: 1px;

                        @media(max-width: 576px){
                            font-size: 1.2rem;
                        }
                    }
                    .contact__component{
                        border: 1px solid $whiteColor;
                        background-color: transparent;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        width: 100%;
                        padding: 15px;
                        color: $whiteColor;

                        @media(max-width: 576px){
                            padding: 10px;
                        }
    
                        &::placeholder{
                            color: $whiteColor;
    
                        }
                    }
                    .contact__btn{
                        @include btn($whiteColor, $secondaryColor, $primaryColor, $whiteColor);
                        width: 100%;
                    }
                }
            }
        }
    }
}