
nav{
    background-color: $primaryColor;

    @media(max-width:992px){
     padding: 25px 0px;
    }
    @media(max-width:576px){
        padding: 15px;
    }
    

    .nav__wrapper{
        @include flex(space-between, center, row, wrap);
        

        .nav__menu{
            display: none;
            color: $whiteColor;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 300;

            @media(max-width:992px){
                display: block;
            }
            @media(max-width:576px){
                font-size: 1.2rem;
            }
            
        }
        .nav__list{
            display: flex;

            @media(max-width:992px){
                display: none;
            }

            .nav__list__item{
                padding: 25px 0px;
                &:not(:last-child){
                margin-right: 15px;
                }

                .nav__list__links{
                    color: $whiteColor;
                    font-weight:500;

                    &:hover{
                        color: $secondaryColor;
                    }
                }
            }

            .nav__item__dropdown{

                position: relative;
                
                i{
                    color: $whiteColor;
                    margin-left: 5px;
                    cursor: pointer;
                }

                &:hover i{
                    color: $secondaryColor;
                }
                &:hover .nav__dropdown{
                    display: block;
                }

                .nav__dropdown{
                    background-color: $whiteColor;
                    position: absolute;
                    width: 120px;
                    height: 150px;
                    top: 60px;
                    padding: 15px 0px 15px 15px;
                    display: none;

                    .nav__dropdown__links{
                        display: block;
                        color: $primaryColor;
                        padding-bottom: 10px;

                        &:hover{
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
        
        .nav__btn{
            @include btn($whiteColor, $primaryColor, $secondaryColor, $whiteColor);
            @media(max-width:992px){
                display: none;
            }
        }
        .nav__hamburger{

            width: 40px;
            height: 40px;
            border: 1px solid $whiteColor;
            border-radius: 5px;
            padding: 10px;
            display: none;
            cursor: pointer;

            @media(max-width:992px){
                display: block;
            }
            
            .nav__hamburger__top,
            .nav__hamburger__center,
            .nav__hamburger__bottom {
                background-color: $whiteColor;
                height: 2px;
                width: 100%;
                margin-top: 7px;
            }
            .nav__hamburger__top{
                margin-top: 0px;
            }
        }
    }

    .nav__mobileMenu{
        
        &.hidden{
            display: none;
        }
        .nav__mobileMenu__list{
            .nav__mobileMenu__item{
                padding-bottom: 10px;

                &.nav__item__dropdown{
                   
                    i{
                        color: $whiteColor;
                        margin-left: 5px;
                        cursor: pointer;
                    }

                    &:hover i{
                        color: $secondaryColor;
                    }
                    .nav__mobileMenu__dropdown{
                        display: none;
                    }
                }
                .nav__mobileMenu__links{
                    color: $whiteColor;
                    font-weight: 500;
                    
                    &:hover{
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
  }