

.price{

    .section-title{
        margin-bottom: 20px;
    }
    &__wrapper{
        @include flex(space-between, center, row, wrap);
        
        @media(max-width:1100px){
            justify-content: center;
        }
        .price__item{
            
            flex: 0 0 30%;
            text-align: center;

            @media(max-width:1100px){
                flex:0 0 60%;
                margin-bottom: 20px;
            }
            @media(max-width:576px){
                flex:0 0 80%;
            }
            
            .price__h4{
                color: $primaryColor;
                font-size: 1.5rem;

                @media(max-width:576px){
                    font-size: 1.2rem;
                }
            }
            .price__p{
                font-weight: 700;
                font-size: 2rem;
                color: $primaryColor;
                margin: 10px 0px;
                @media(max-width:576px){
                    font-size: 1.4rem;
                }
            }
            .price__list{
                .price__list__item{
                    margin-bottom: 10px;

                    i{
                        color: $secondaryColor;
                        margin-right: 10px;
                    }
                }
            }
            .price__link{
                @include btn($primaryColor, $whiteColor, $secondaryColor, $whiteColor);
                margin-top: 10px;
            }

            &--modifier{
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                padding: 15px 0px;
  
                .price__h4{
                  color: $secondaryColor;
                }
                .price__p{
                  color: $secondaryColor;
                }
                .price__link{
                  @include btn($secondaryColor, $whiteColor, $primaryColor, $whiteColor);}
              }
        }
    }
}