.testimonial{

    &-wrapper{
        margin-top: 2rem;
        

        .testimonial__item{
            @include flex(flex-start, center, row, nowrap, 1rem);
            // flex: 0 0 34%;
            

            .testimonial__img{
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
            }

        }
    }
}