/********************
 IMPORT EXTERNAL FILES
 ********************/
/********************
   PARTIALS
 ********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all 0.5s;
  list-style-type: none;
  outline: none; }

html::-webkit-scrollbar {
  width: 15px; }
html::-webkit-scrollbar-track {
  background: transparent; }
html::-webkit-scrollbar-thumb {
  background-color: #202C45; }

body {
  font-family: 'Barlow', sans-serif;
  color: #444444;
  line-height: 1.5;
  font-size: 100%; }
  @media (max-width: 576px) {
    body {
      font-size: 75%; } }

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize; }

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

.container {
  width: 80%;
  margin: auto; }
  @media (max-width: 576px) {
    .container {
      width: 90%; } }

section {
  padding: 70px 0px; }

.section-subtitle {
  margin-bottom: 10px;
  color: #E81C2E;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 5px;
  text-align: center; }
  .section-subtitle::after {
    background-color: #E81C2E;
    width: 80px;
    height: 2px;
    display: block;
    content: "";
    margin: 10px auto; }

.section-title {
  font-weight: 700;
  text-transform: capitalize;
  color: #202C45;
  font-size: 2.2rem;
  text-align: center; }
  @media (max-width: 768px) {
    .section-title {
      font-size: 2rem; } }
  @media (max-width: 576px) {
    .section-title {
      font-size: 1.8rem; } }

.arrow-up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  background-color: #202C45;
  color: #fff;
  text-align: center; }
  .arrow-up i {
    font-size: 1.5rem; }

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translate(0%);
    opacity: 1; } }
.top-navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 15px 0px;
  animation-name: slideFromTop;
  animation-duration: 1.5s; }
  .top-navbar__logo {
    font-weight: 700; }
    .top-navbar__logo .top-navbar__heading {
      font-size: 2.7rem;
      color: #E81C2E;
      font-style: italic;
      font-weight: 800; }
      .top-navbar__logo .top-navbar__heading .top-navbar__span {
        color: #202C45; }
      @media (max-width: 576px) {
        .top-navbar__logo .top-navbar__heading {
          font-size: 2rem; } }
  .top-navbar__info {
    display: flex; }
    @media (max-width: 1200px) {
      .top-navbar__info {
        display: none; } }
    .top-navbar__info .top-navbar__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      .top-navbar__info .top-navbar__item:not(:last-child) {
        margin-right: 35px; }
      .top-navbar__info .top-navbar__item i {
        margin-right: 15px;
        background-color: #202C45;
        color: #fff;
        font-size: 1rem;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        line-height: 40px;
        text-align: center; }

nav {
  background-color: #202C45; }
  @media (max-width: 992px) {
    nav {
      padding: 25px 0px; } }
  @media (max-width: 576px) {
    nav {
      padding: 15px; } }
  nav .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px; }
    nav .nav__wrapper .nav__menu {
      display: none;
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 300; }
      @media (max-width: 992px) {
        nav .nav__wrapper .nav__menu {
          display: block; } }
      @media (max-width: 576px) {
        nav .nav__wrapper .nav__menu {
          font-size: 1.2rem; } }
    nav .nav__wrapper .nav__list {
      display: flex; }
      @media (max-width: 992px) {
        nav .nav__wrapper .nav__list {
          display: none; } }
      nav .nav__wrapper .nav__list .nav__list__item {
        padding: 25px 0px; }
        nav .nav__wrapper .nav__list .nav__list__item:not(:last-child) {
          margin-right: 15px; }
        nav .nav__wrapper .nav__list .nav__list__item .nav__list__links {
          color: #fff;
          font-weight: 500; }
          nav .nav__wrapper .nav__list .nav__list__item .nav__list__links:hover {
            color: #E81C2E; }
      nav .nav__wrapper .nav__list .nav__item__dropdown {
        position: relative; }
        nav .nav__wrapper .nav__list .nav__item__dropdown i {
          color: #fff;
          margin-left: 5px;
          cursor: pointer; }
        nav .nav__wrapper .nav__list .nav__item__dropdown:hover i {
          color: #E81C2E; }
        nav .nav__wrapper .nav__list .nav__item__dropdown:hover .nav__dropdown {
          display: block; }
        nav .nav__wrapper .nav__list .nav__item__dropdown .nav__dropdown {
          background-color: #fff;
          position: absolute;
          width: 120px;
          height: 150px;
          top: 60px;
          padding: 15px 0px 15px 15px;
          display: none; }
          nav .nav__wrapper .nav__list .nav__item__dropdown .nav__dropdown .nav__dropdown__links {
            display: block;
            color: #202C45;
            padding-bottom: 10px; }
            nav .nav__wrapper .nav__list .nav__item__dropdown .nav__dropdown .nav__dropdown__links:hover {
              color: #E81C2E; }
    nav .nav__wrapper .nav__btn {
      padding: 15px 30px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 50px;
      cursor: pointer;
      letter-spacing: 1px;
      border: none;
      background-color: #fff;
      color: #202C45;
      display: inline-block; }
      nav .nav__wrapper .nav__btn:hover {
        background-color: #E81C2E;
        color: #fff; }
      @media (max-width: 576px) {
        nav .nav__wrapper .nav__btn {
          font-size: 0.9rem;
          padding: 10px 20px; } }
      @media (max-width: 992px) {
        nav .nav__wrapper .nav__btn {
          display: none; } }
    nav .nav__wrapper .nav__hamburger {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      display: none;
      cursor: pointer; }
      @media (max-width: 992px) {
        nav .nav__wrapper .nav__hamburger {
          display: block; } }
      nav .nav__wrapper .nav__hamburger .nav__hamburger__top,
      nav .nav__wrapper .nav__hamburger .nav__hamburger__center,
      nav .nav__wrapper .nav__hamburger .nav__hamburger__bottom {
        background-color: #fff;
        height: 2px;
        width: 100%;
        margin-top: 7px; }
      nav .nav__wrapper .nav__hamburger .nav__hamburger__top {
        margin-top: 0px; }
  nav .nav__mobileMenu.hidden {
    display: none; }
  nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item {
    padding-bottom: 10px; }
    nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown i {
      color: #fff;
      margin-left: 5px;
      cursor: pointer; }
    nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown:hover i {
      color: #E81C2E; }
    nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item.nav__item__dropdown .nav__mobileMenu__dropdown {
      display: none; }
    nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item .nav__mobileMenu__links {
      color: #fff;
      font-weight: 500; }
      nav .nav__mobileMenu .nav__mobileMenu__list .nav__mobileMenu__item .nav__mobileMenu__links:hover {
        color: #E81C2E; }

/******************
 BANNER SECTION
********************/
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/carousel-3.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  text-align: center; }
  .banner__h3 {
    color: #E81C2E;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1.2px; }
    @media (max-width: 576px) {
      .banner__h3 {
        font-size: 1.2rem; } }
  .banner__h1 {
    color: #fff;
    font-size: 4rem; }
    @media (max-width: 768px) {
      .banner__h1 {
        font-size: 3rem; } }
    @media (max-width: 576px) {
      .banner__h1 {
        font-size: 2rem; } }
  .banner__p {
    color: #fff;
    max-width: 400px;
    margin: 10px 0px; }
  .banner__link {
    padding: 15px 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    background-color: #E81C2E;
    color: #fff;
    display: inline-block; }
    .banner__link:hover {
      background-color: #202C45;
      color: #E81C2E; }
    @media (max-width: 576px) {
      .banner__link {
        font-size: 0.9rem;
        padding: 10px 20px; } }

/*******************
ABOUT SECTION
********************/
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 992px) {
    .about {
      justify-content: center; } }
  .about .about__img {
    flex: 0 0 40%; }
    @media (max-width: 992px) {
      .about .about__img {
        flex: 0 0 70%;
        order: 1; } }
    @media (max-width: 768px) {
      .about .about__img {
        flex: 0 0 80%; } }
    @media (max-width: 576px) {
      .about .about__img {
        flex: 0 0 100%; } }
  .about .about__text {
    flex: 0 0 50%; }
    @media (max-width: 992px) {
      .about .about__text {
        flex: 0 0 70%;
        margin-bottom: 25px; } }
    @media (max-width: 768px) {
      .about .about__text {
        flex: 0 0 80%; } }
    @media (max-width: 576px) {
      .about .about__text {
        flex: 0 0 100%; } }
    .about .about__text .section-subtitle {
      text-align: left; }
      .about .about__text .section-subtitle::after {
        margin: 0px;
        margin-top: 5px; }
    .about .about__text .section-title {
      text-align: left; }
    .about .about__text .about__p {
      max-width: 500px;
      margin-bottom: 10px; }
    .about .about__text .about__list {
      margin-bottom: 25px; }
      .about .about__text .about__list .about__item:not(:last-child) {
        margin-bottom: 5px; }
      .about .about__text .about__list .about__item i {
        color: #E81C2E;
        margin-right: 10px; }
    .about .about__text .about__link {
      padding: 15px 30px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 50px;
      cursor: pointer;
      letter-spacing: 1px;
      border: none;
      background-color: #E81C2E;
      color: #fff;
      display: inline-block; }
      .about .about__text .about__link:hover {
        background-color: #202C45;
        color: #E81C2E; }
      @media (max-width: 576px) {
        .about .about__text .about__link {
          font-size: 0.9rem;
          padding: 10px 20px; } }

.number {
  background-color: #202C45; }
  .number__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px; }
    @media (max-width: 992px) {
      .number__wrapper {
        justify-content: center; } }
    .number__wrapper .number__item {
      flex-basis: 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px;
      color: #fff; }
      @media (max-width: 992px) {
        .number__wrapper .number__item {
          flex-basis: 45%;
          margin-top: 20px; } }
      @media (max-width: 768px) {
        .number__wrapper .number__item {
          flex-basis: 100%;
          justify-content: flex-start; } }
      .number__wrapper .number__item i {
        color: #E81C2E;
        font-size: 2rem;
        margin-right: 15px; }
      .number__wrapper .number__item .number__text .number__h3 {
        font-size: 3rem; }
        @media (max-width: 992px) {
          .number__wrapper .number__item .number__text .number__h3 {
            font-size: 2rem; } }

.price .section-title {
  margin-bottom: 20px; }
.price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 1100px) {
    .price__wrapper {
      justify-content: center; } }
  .price__wrapper .price__item {
    flex: 0 0 30%;
    text-align: center; }
    @media (max-width: 1100px) {
      .price__wrapper .price__item {
        flex: 0 0 60%;
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .price__wrapper .price__item {
        flex: 0 0 80%; } }
    .price__wrapper .price__item .price__h4 {
      color: #202C45;
      font-size: 1.5rem; }
      @media (max-width: 576px) {
        .price__wrapper .price__item .price__h4 {
          font-size: 1.2rem; } }
    .price__wrapper .price__item .price__p {
      font-weight: 700;
      font-size: 2rem;
      color: #202C45;
      margin: 10px 0px; }
      @media (max-width: 576px) {
        .price__wrapper .price__item .price__p {
          font-size: 1.4rem; } }
    .price__wrapper .price__item .price__list .price__list__item {
      margin-bottom: 10px; }
      .price__wrapper .price__item .price__list .price__list__item i {
        color: #E81C2E;
        margin-right: 10px; }
    .price__wrapper .price__item .price__link {
      padding: 15px 30px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 50px;
      cursor: pointer;
      letter-spacing: 1px;
      border: none;
      background-color: #202C45;
      color: #fff;
      display: inline-block;
      margin-top: 10px; }
      .price__wrapper .price__item .price__link:hover {
        background-color: #E81C2E;
        color: #fff; }
      @media (max-width: 576px) {
        .price__wrapper .price__item .price__link {
          font-size: 0.9rem;
          padding: 10px 20px; } }
    .price__wrapper .price__item--modifier {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      padding: 15px 0px; }
      .price__wrapper .price__item--modifier .price__h4 {
        color: #E81C2E; }
      .price__wrapper .price__item--modifier .price__p {
        color: #E81C2E; }
      .price__wrapper .price__item--modifier .price__link {
        padding: 15px 30px;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 50px;
        cursor: pointer;
        letter-spacing: 1px;
        border: none;
        background-color: #E81C2E;
        color: #fff;
        display: inline-block; }
        .price__wrapper .price__item--modifier .price__link:hover {
          background-color: #202C45;
          color: #fff; }
        @media (max-width: 576px) {
          .price__wrapper .price__item--modifier .price__link {
            font-size: 0.9rem;
            padding: 10px 20px; } }

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  @media (max-width: 1200px) {
    .contact__wrapper {
      justify-content: center; } }
  .contact__wrapper .contact__item:first-child {
    flex: 0 0 45%; }
    @media (max-width: 1200px) {
      .contact__wrapper .contact__item:first-child {
        flex: 0 0 80%; } }
    @media (max-width: 768px) {
      .contact__wrapper .contact__item:first-child {
        flex: 0 0 100%; } }
    .contact__wrapper .contact__item:first-child .section-subtitle {
      text-align: left; }
      .contact__wrapper .contact__item:first-child .section-subtitle::after {
        margin: 10px 0px 0px 0px; }
    .contact__wrapper .contact__item:first-child .section-title {
      text-align: left; }
      @media (max-width: 576px) {
        .contact__wrapper .contact__item:first-child .section-title {
          font-size: 1.5rem; } }
    .contact__wrapper .contact__item:first-child .contact__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0px; }
      .contact__wrapper .contact__item:first-child .contact__info__item {
        flex: 0 0 40%;
        margin-top: 15px;
        display: flex; }
        @media (max-width: 768px) {
          .contact__wrapper .contact__item:first-child .contact__info__item {
            flex: 0 0 100%; } }
        .contact__wrapper .contact__item:first-child .contact__info__item i {
          color: #E81C2E;
          font-size: 1.7rem;
          margin-right: 15px; }
        .contact__wrapper .contact__item:first-child .contact__info__item .contact__data .contact__h4 {
          font-size: 1.2rem;
          color: #202C45;
          margin-bottom: 5px; }
          @media (max-width: 576px) {
            .contact__wrapper .contact__item:first-child .contact__info__item .contact__data .contact__h4 {
              font-size: 1.1rem; } }
        .contact__wrapper .contact__item:first-child .contact__info__item .contact__p .contact__span {
          font-weight: 700; }
  .contact__wrapper .contact__item:last-child {
    flex: 0 0 45%; }
    @media (max-width: 1200px) {
      .contact__wrapper .contact__item:last-child {
        flex: 0 0 70%;
        margin-top: 40px; } }
    @media (max-width: 768px) {
      .contact__wrapper .contact__item:last-child {
        flex: 0 0 100%; } }
    .contact__wrapper .contact__item:last-child .contact__form {
      background-color: #E81C2E;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0px;
      padding: 25px; }
      .contact__wrapper .contact__item:last-child .contact__form .contact__form__h3 {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 15px;
        letter-spacing: 1px; }
        @media (max-width: 576px) {
          .contact__wrapper .contact__item:last-child .contact__form .contact__form__h3 {
            font-size: 1.2rem; } }
      .contact__wrapper .contact__item:last-child .contact__form .contact__component {
        border: 1px solid #fff;
        background-color: transparent;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        padding: 15px;
        color: #fff; }
        @media (max-width: 576px) {
          .contact__wrapper .contact__item:last-child .contact__form .contact__component {
            padding: 10px; } }
        .contact__wrapper .contact__item:last-child .contact__form .contact__component::placeholder {
          color: #fff; }
      .contact__wrapper .contact__item:last-child .contact__form .contact__btn {
        padding: 15px 30px;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 50px;
        cursor: pointer;
        letter-spacing: 1px;
        border: none;
        background-color: #fff;
        color: #E81C2E;
        display: inline-block;
        width: 100%; }
        .contact__wrapper .contact__item:last-child .contact__form .contact__btn:hover {
          background-color: #202C45;
          color: #fff; }
        @media (max-width: 576px) {
          .contact__wrapper .contact__item:last-child .contact__form .contact__btn {
            font-size: 0.9rem;
            padding: 10px 20px; } }

.testimonial-wrapper {
  margin-top: 2rem; }
  .testimonial-wrapper .testimonial__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem; }
    .testimonial-wrapper .testimonial__item .testimonial__img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }

/*****************
TEAM SECTION
******************/
.team__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px; }
  .team__wrapper .team__item {
    flex: 0 0 22%;
    margin-top: 20px; }
    @media (max-width: 1100px) {
      .team__wrapper .team__item {
        flex: 0 0 40%; } }
    @media (max-width: 768px) {
      .team__wrapper .team__item {
        flex: 0 0 70%; } }
    @media (max-width: 576px) {
      .team__wrapper .team__item {
        flex: 0 0 90%; } }
    .team__wrapper .team__item:hover > .team__info {
      background-color: #E81C2E;
      transition: 0.7 ease-in-out; }
    .team__wrapper .team__item:hover img {
      transform: scale(1.2); }
    .team__wrapper .team__item:hover .team__social > a {
      background-color: #E81C2E !important; }
    .team__wrapper .team__item .team__img {
      overflow: hidden; }
    .team__wrapper .team__item .team__info {
      background-color: #202C45;
      padding: 25px;
      text-align: center;
      position: relative; }
      .team__wrapper .team__item .team__info .team__h4 {
        color: #fff;
        font-size: 1.3rem; }
        @media (max-width: 576px) {
          .team__wrapper .team__item .team__info .team__h4 {
            font-size: 1rem; } }
      .team__wrapper .team__item .team__info .team__p {
        color: #fff; }
      .team__wrapper .team__item .team__info .team__social {
        position: absolute;
        top: -15px;
        right: 0;
        left: 0; }
        .team__wrapper .team__item .team__info .team__social a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 40px;
          background-color: #202C45;
          color: #fff;
          text-align: center;
          margin-right: 10px; }
          @media (max-width: 576px) {
            .team__wrapper .team__item .team__info .team__social a {
              width: 30px;
              height: 30px;
              line-height: 30px;
              border-radius: 30px;
              background-color: #202C45;
              color: #fff;
              text-align: center;
              font-size: 0.9rem; } }

footer {
  background-color: #202C45;
  padding: 70px 0px;
  color: #fff; }
  footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px; }
    footer .footer__wrapper .footer__item {
      flex: 0 0 22%; }
      @media (max-width: 1100px) {
        footer .footer__wrapper .footer__item {
          flex: 0 0 40%; } }
      @media (max-width: 768px) {
        footer .footer__wrapper .footer__item {
          flex: 0 0 100%;
          margin-bottom: 20px; } }
      footer .footer__wrapper .footer__item .footer__h4 {
        color: #E81C2E;
        margin-bottom: 15px;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-weight: 600; }
      footer .footer__wrapper .footer__item:first-child .footer__list .footer__list__item {
        margin-bottom: 10px; }
        footer .footer__wrapper .footer__item:first-child .footer__list .footer__list__item i {
          margin-right: 10px; }
      footer .footer__wrapper .footer__item:first-child .footer__socialMedia {
        margin-top: 15px; }
        footer .footer__wrapper .footer__item:first-child .footer__socialMedia a {
          width: 35px;
          height: 35px;
          line-height: 35px;
          border-radius: 35px;
          background-color: #fff;
          color: #202C45;
          text-align: center;
          margin-right: 10px; }
          footer .footer__wrapper .footer__item:first-child .footer__socialMedia a:hover {
            background-color: #E81C2E;
            color: #fff; }
      footer .footer__wrapper .footer__item .footer__links a {
        display: block;
        margin-bottom: 10px;
        color: #fff; }
        footer .footer__wrapper .footer__item .footer__links a:hover {
          color: #E81C2E;
          transform: translateX(10px); }
        footer .footer__wrapper .footer__item .footer__links a i {
          margin-right: 10px; }
      footer .footer__wrapper .footer__item .footer__form input {
        display: block;
        width: 90%;
        margin-bottom: 15px; }
      footer .footer__wrapper .footer__item .footer__form .footer__input {
        background-color: transparent;
        padding: 15px;
        border: 1px solid #fff;
        border-radius: 5px; }
      footer .footer__wrapper .footer__item .footer__form .footer__button {
        padding: 15px 30px;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 50px;
        cursor: pointer;
        letter-spacing: 1px;
        border: none;
        background-color: #fff;
        color: #202C45;
        display: inline-block; }
        footer .footer__wrapper .footer__item .footer__form .footer__button:hover {
          background-color: #E81C2E;
          color: #fff; }
        @media (max-width: 576px) {
          footer .footer__wrapper .footer__item .footer__form .footer__button {
            font-size: 0.9rem;
            padding: 10px 20px; } }
  footer .footer__bottom {
    text-align: center;
    margin-top: 15px; }
    footer .footer__bottom .footer__span {
      color: #E81C2E;
      font-weight: 500; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none; }
  .modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    border-radius: 10px; }
    .modal__box .modal__title {
      background-color: #202C45;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px; }
      .modal__box .modal__title .modal__h3 {
        color: #fff;
        font-size: 1.4rem; }
      .modal__box .modal__title i {
        color: #fff;
        font-size: 1.4rem;
        cursor: pointer; }
    .modal__box .modal__body {
      padding: 15px; }
      .modal__box .modal__body .modal__form {
        display: flex;
        flex-direction: column; }
        .modal__box .modal__body .modal__form .modal__input {
          padding: 10px;
          margin-bottom: 15px; }
        .modal__box .modal__body .modal__form .modal__button {
          padding: 15px 30px;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 50px;
          cursor: pointer;
          letter-spacing: 1px;
          border: none;
          background-color: #202C45;
          color: #fff;
          display: inline-block;
          border-radius: 0; }
          .modal__box .modal__body .modal__form .modal__button:hover {
            background-color: #E81C2E;
            color: #fff; }
          @media (max-width: 576px) {
            .modal__box .modal__body .modal__form .modal__button {
              font-size: 0.9rem;
              padding: 10px 20px; } }
  .modal .modal__footer {
    text-align: center;
    margin-bottom: 15px; }
    .modal .modal__footer .modal__footer__p .modal__footer__link {
      color: #202C45;
      font-weight: 700; }
      .modal .modal__footer .modal__footer__p .modal__footer__link:hover {
        color: #E81C2E; }

/*# sourceMappingURL=style.css.map */
